<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Cocoa Inn</title>
	<link href="css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E8E5D6">
		<div class="modifyGuestsPage">
			<div class="row1">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-12">
					<div class="col-2">
						<form method="get" action="index.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Home</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="Reservation.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Reserve</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="dine.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Dine</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="spa.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Spa</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="winery.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Winery</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="contact.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Contact Us</button>
						</form>
					</div>				
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="reservationDetails.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Back</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="addGuest.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Add Guest</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
					<div class="col-4">
						<div class="col-4"></div>
						<div class="col-4">
							<form method="post" action="removeGuest.html">
								<input name="confirmationNumber" class="confirmationNumber" type="hidden" value="<%= confirmationNumber %>">
								<button type="submit" style="width:100%; padding:16px; background-color: wheat">Remove Guest</button>
							</form>
						</div>
						<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<div class="col-3" style="background-color: ivory">
						<h2 style="text-align: center; font-size: 30pt">Your Stay</h2>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check In:</h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Check Out:</h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Adults:</h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Children:</h3>
						<br>
						<h3 style="text-align: center; font-size: 20pt">Balance:</h3>
					</div>
					<div class="col-9">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
