<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Cocoa Inn</title>
	<link href="css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6 ">
		<div class="staffHomePage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: </b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12" style="background-color: ivory">
					<div class="col-4">
							<div class="col-4"></div>
							<div class="col-4">
								<form class="notification" method="post" action="viewMessages.html">
									<input type="hidden" name="userID" class="userID" value="<%= userID %>">
									<button type="submit">Messages</button>
									<span class="badge">3</span>
								</form>
							</div>
							<div class="col-4"></div>
						</div>
					<div class="col-4">
						<form method="get" action="staffModify.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Confirmation Number" style="width:75%; padding: 16px 32px; text-align: center">
							<button type="submit" style="width:24%; padding: 10px">Search</button>
						</form>
					</div>
					<div class="col-4">
							<div class="col-4"></div>
							<div class="col-4">
								<form class="notification" method="post" action="viewOpenReservations.html">
									<input type="hidden" name="userID" class="userID" value="<%= userID %>">
									<button type="submit">Open Reservations</button>
									<span class="badge">3</span>
								</form>
							</div>
							<div class="col-4"></div>
					</div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-3" style="border: 2px solid black">
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="post" action="staffMakeReservation.html">
								<button type="submit" style="width:100%; padding:10px">Create Reservation</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="get" action="staffModify.html">
								<button type="submit" style="width:100%; padding:10px">Modify Reservation</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="get" action="staffModify.html">
								<button type="submit" style="width:100%; padding:10px">View Rooms</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="post" action="modifyStaff.html">
								<button type="submit" style="width:100%; padding:10px">Add/Remove Staff</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="post" action="modifyRooms.html">
								<button type="submit" style="width:100%; padding:10px">Add/Remove Rooms</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="post" action="modifyPolicy.html">
								<button type="submit" style="width:100%; padding:10px">Edit Policy</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
					
					<div class="col-12">
						<div class="col-2"></div>
						<div class="col-8">
							<form method="post" action="report.html">
								<button type="submit" style="width:100%; padding:10px">Generate Report</button>
							</form>
						</div>
						<div class="col-2"></div>
					</div>
				</div>
				
				<div class="col-9" style="border: 2px solid black">
					<div class="col-4" style="height: 695px; overflow-x: hidden; overflow-y: auto; border: 1px solid black">
						<h3 style="text-align: center">Today's Check Ins</h3>
						<div class="col-12" style="border: 1px solid black">
							<div class="col-12">
								<h3 style="text-align: center">John Smith</h3>
							</div>
							<div class="col-12">
								<form method="post" action="staffModify.html">
									<button type="submit" style="width:100%; padding: 10px">Confirmatin Number</button>
								</form>
							</div>
							<div class="col-12">
								<form method="post" action="checkIn.html">
									<button type="submit" style="width: 100%; padding:10px; background-color: mediumseagreen">Check In</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-4" style="height: 695px; overflow-x: hidden; overflow-y: auto; border: 1px solid black">
						<h3 style="text-align: center">Current Guests</h3>
						<div class="col-12" style="border: 1px solid black">
							<div class="col-12">
								<h3 style="text-align: center">Jane Doe</h3>
							</div>
							<div class="col-12">
								<form method="post" action="staffModify.html">
									<button type="submit" style="width:100%; padding: 10px">Confirmatin Number</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-4" style="height: 695px; overflow-x: hidden; overflow-y: auto; border: 1px solid black">
						<h3 style="text-align: center">Today's Check Outs</h3>
						<div class="col-12" style="border: 1px solid black">
							<div class="col-12">
								<h3 style="text-align: center">Janet Jackson</h3>
							</div>
							<div class="col-12">
								<form method="post" action="staffModify.html">
									<button type="submit" style="width:100%; padding: 10px">Confirmatin Number</button>
								</form>
							</div>
							<div class="col-12">
								<form method="post" action="checkOut.html">
									<button type="submit" style="width: 100%; padding:10px; background-color: indianred">Check Out</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
