<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Cocoa Inn</title>
	<link href="css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: wheat">
		<div class="policyPage">
			<div class="row1">
				<div class="col-2">
					<p style="text-align: center"><b>Employee: </b></p>
				  <div class="col-3"></div>
				  <div class="col-6">
						<form method="post" action="staffHome.html">
							<input type="hidden" name="userID" class="userID" value="<%= userID %>">
							<button type="submit" style="width:100%; text-align: center; padding: 10px">Home</button>
						</form>
					</div>
				  <div class="col-3"></div>
				</div>
				<div class="col-8">
					<h1 style="text-align: center; font-size: 50pt">The Cocoa Inn</h1>
				</div>
				<div class="col-2">
					<div class="col-3"></div>
					<div class="col-6">
						<form method="get" action="logout.html">
							<button type="submit" style="width: 100%; padding: 10px">Logout</button>
						</form>
					</div>
					<div class="col-3"></div>
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-3">
						<div class="col-3"></div>
						<div class="col-6">
							<form method="post" action="editCancelTime.html">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Cancel Time</button>
							</form>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="col-3">
						<div class="col-3"></div>
						<div class="col-6">
							<form method="post" action="editCancelFee.html">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Cancel Fee</button>
							</form>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="col-3">
						<div class="col-3"></div>
						<div class="col-6">
							<form method="post" action="editCheckInTime.html">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Check In Time</button>
							</form>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="col-3">
						<div class="col-3"></div>
						<div class="col-6">
							<form method="post" action="editCheckOutTime.html">
								<input type="hidden" name="userID" class="userID" value="<%= userID %>">
								<button type="submit" style="width:100%; padding:16px">Check Out Time</button>
							</form>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
