<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6">
		<div class="diningPage">
			<div class="row1">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-12">
					<div class="col-2">
						<form method="get" action="index.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Home</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="Reservation.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Reserve</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="dine.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Dine</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="spa.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Spa</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="winery.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Winery</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="contact.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Contact Us</button>
						</form>
					</div>				
				</div>
			</div>
			
			<div class="row2" style="color: beige">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4" style="background-color: ivory">
						<form method="post" action="reservationDetails.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Reservation Confirmation Number" style="width:75%; padding: 12px 20px; text-align: center" autocomplete="off" required>
							<button type="submit" style="padding: 12px 20px; background-color: wheat; width:24%">Search</button>
						</form>					
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt">Dining Page</h1>
				</div>
			</div>
		</div>
	</body>
</html>