<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Cocoa Inn</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: black">
		<div class="homePage">
			<div class="row1" style="color: beige">
				<div class="col-2"><a href="index.html" style="font-size: 35pt; color: beige">Home</a></div>
				<div class="col-2"><a href="Reservation.html" style="font-size: 35pt; color: beige">Reserve</a></div>
				<div class="col-2"><h1 style="text-align: center">Dine</h1></div>
				<div class="col-2"><h1 style="text-align: center">Spa</h1></div>
				<div class="col-2"><h1 style="text-align: center">Golf</h1></div>
				<div class="col-2"><h1 style="text-align: center">Contact</h1></div>
			</div>
			
			<div class="row2" style="color: beige">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4">
						<form method="post" action="reservationDetails.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Reservation Confirmation Number" style="width:75%; padding: 12px 20px; text-align: center">
							<button type="submit" style="padding: 12px 20px; background-color: wheat; width:24%">Search</button>
						</form>					
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3" style="color: white">
				<div class="col-4">
					<p style="font-size: 50pt; text-align: center">Welcome to the Cocoa Inn</p>
					<p style="font-size:20pt; text-align: center">Serene.</p>
			  	  	<p style="font-size:20pt; text-align: center">Charming.</p>
					<p style="font-size:20pt; text-align: center">Cozy.</p>
					<br>
					<p style="text-align: center; font-size: 20pt">Our inn is tucked away on five acres of sprawling vineyards. Relax with a river stone massage. Savor the tender Wagyu or the vegan Chickpea stew. Enjoy a glass of aged Cabernet Sauvignon.</p>
					<p style="text-align: center; font-size: 20pt">Our door awaits you.</p>
				</div>
				<div class="col-8">
					<img src="https://s3.us-east-2.amazonaws.com/cmd-jeld-wen/assets/images/2560/3113188152.jpg" style="width: 100%; height: auto; margin-left: auto; margin-right: auto; display: block">
				</div>
			</div>
		</div>
	</body>
</html>