<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Confirmation</title>
		<link href="/public/css.css" rel="stylesheet" type="text/css">
	</head>

	<body style="background-color: #E1DFC6">
		<div class="optionPage">
			<div class="row1">
				<div class="col-12">
					<h1 style="text-align: center; font-size: 50pt; color: saddlebrown">The Cocoa Inn</h1>
				</div>
				<div class="col-12">
					<div class="col-2">
						<form method="get" action="index.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Home</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="Reservation.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Reserve</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="dine.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Dine</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="spa.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Spa</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="winery.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Winery</button>
						</form>
					</div>
					<div class="col-2">
						<form method="get" action="contact.html">
							<button type="submit" style="width:100%; padding: 16px; background-color: ivory; font-size: 20pt">Contact Us</button>
						</form>
					</div>				
				</div>
			</div>
			
			<div class="row2">
				<div class="col-12">
					<div class="col-4"></div>
					<div class="col-4" style="background-color: ivory">
						<form method="post" action="reservationDetails.html">
							<input name="confirmationNumber" class="confirmationNumber" type="text" placeholder="Reservation Confirmation Number" style="width:75%; padding: 12px 20px; text-align: center">
							<button type="submit" style="padding: 12px 20px; background-color: wheat; width:24%">Search</button>
						</form>					
					</div>
					<div class="col-4"></div>
				</div>
			</div>
			
			<div class="row3">
				<div class="col-12">
					<p style="text-align: center; font-size: 25pt; padding: 20px">You have selected a room with a max occupancy less than the total number of guests on your reservation.</p>
					<p style="text-align: center; font-size: 25pt; padding: 20px">Would you like to add additional rooms to accommodate your guests?</p>
				</div>
			</div>
			
			<div class="row4" style="color: beige">
				<div class="col-12">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="col-5">
							<form method="get" action="Reservation.html">
								<button type="submit" style="padding: 16px 32px; width: 100%; background-color: #5C5C5C; font-size: 15pt">No, remove the current selection.</button>
							</form>						
						</div>
						<div class="col-2"></div>
						<div class="col-5">
							<form method="post" action="Reservation.html">
								<input name="checkIn" class="checkIn" type="hidden" value="<%= checkIn %>">
								<input name="checkOut" class="checkOut" type="hidden" value="<%= checkOut %>">
								<input name="numAdults" class="numAdults" type="hidden" value="<%= numAdults %>">
								<input name="numChildren" class="numChildren" type="hidden" value="<%= numChildren %>">
								<button type="submit" style="padding: 16px 32px; width: 100%; background-color: wheat; font-size: 15pt">Yes, keep selection and add another room.</button>
							</form>						
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
	</body>
</html>